.header-directive{
    background-color: #141414;
    padding-bottom:10px;
    margin-bottom:40px;
    position: relative;
}
.header-directive .header-menu{
    float: right;
    line-height:33px;
}
.header-directive .header-menu .header-links{
    padding-right:20px;
}
.header-directive .header-menu a{
    color:#6C6E6C;
    border-right:1px solid #333;
    padding:0 5px;
}
.header-directive .header-menu a:hover{
    color:white;
}
.header-directive .header-menu a:last-child{
    border:none;
}
.header-directive .header-search{
    background-color: #dcdcdc;
    margin-top:10px;
    margin-bottom:-30px;
    text-align: right;
}
.header-directive .header-search input{
    padding:5px 10px;
    width:340px;
    margin:2px;
}
.header-directive .header-search input::-webkit-input-placeholder {
    color:black;
    font-weight: bold;
}
.header-directive .header-search input::-moz-placeholder          {
    color:black;
    font-weight: bold;
}/* Firefox 19+ */
.header-directive .header-search input:-moz-placeholder           {
    color:black;
    font-weight: bold;
}/* Firefox 18- */
.header-directive .header-search input:-ms-input-placeholder      {
    color:black;
    font-weight: bold;
}
.header-directive .menu-btn,
.header-directive .search-btn{
    position: absolute;
    cursor:pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    top:0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size:25px;
    color:white;
}
.header-directive .menu-btn {
    left: 0;
    border-right: 1px solid white;
}

.header-directive .search-btn{
    right:0;
    border-left:1px solid white;
}
.header-directive .header-search{
    position: relative;
}
.header-directive .header-search:before{
    font-family: 'icoFont';
    content:'\e902';
    position: absolute;
    top:10px;
    right:10px;
}
@media screen and (max-width:768px){
    .header-directive{
        border-top:1px solid white;
        height: 50px;
        box-sizing: initial;
        padding-left:50px;
        padding-bottom:0;
        margin-bottom:0;
    }
    .header-directive .logo{
        line-height: 43px;
    }
}